@import url(https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css);
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
* {
  font-family: apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

.sr-only {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  font-size: 16px;
  overflow-y: visible;
}

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
}

body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: inherit;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

address,
em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}

.container {
  min-width: 320px;
}

.books {
  max-width: 73.125rem;
  min-width: 49.5625rem;
  margin: 0 auto;
  padding-bottom: 500px;
}
.books__info {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 40px 29px;
}
.books__info__body {
  display: flex;
  justify-content: space-between;
}
.books__info__body__thumbnail-wrap {
  width: 12.5rem;
}
.books__info__body__thumbnail-wrap__image {
  display: block;
  width: 12.5rem;
}
.books__info__body__thumbnail-wrap__preference {
  display: block;
  width: 8.125rem;
  margin: 16px auto 0;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d1d5d9;
}
.books__info__body__thumbnail-wrap__preference:hover {
  background: #f2f4f5;
}
.books__info__body__thumbnail-wrap__preference .button_contents .bx {
  color: red;
  vertical-align: middle;
  margin-right: 4px;
}
.books__info__body__thumbnail-wrap__series-noti {
  display: block;
  min-width: 10.5rem;
  padding: 8px 8px 7px 8px;
  font-size: 12px;
  letter-spacing: -0.3px;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
  color: #1f8ce6;
  background: #fff;
  border: 1px solid #1f8ce6;
  margin: 16px auto 0;
}
.books__info__body__thumbnail-wrap__series-noti .bx {
  font-weight: 700;
}
.books__info__body__thumbnail-wrap__series-noti:hover {
  background: #ebf6ff;
  color: #1f8ce6;
}
.books__info__body__details-wrap {
  width: 31.25rem;
}
.books__info__body__details-wrap__title {
  font-size: 1.875rem;
  color: #333;
  font-weight: 700;
}
.books__info__body__details-wrap__star-rate-wrap {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.books__info__body__details-wrap__star-rate-wrap__stars {
  color: #fa722e;
  letter-spacing: -2.5px;
  font-size: 0.875rem;
  margin-right: 6px;
  font-weight: 300;
}
.books__info__body__details-wrap__star-rate-wrap__stars .bx {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.books__info__body__details-wrap__star-rate-wrap__score {
  color: #fa722e;
  font-size: 0.875rem;
  margin-right: 2px;
  font-weight: 600;
}
.books__info__body__details-wrap__star-rate-wrap__people {
  font-size: 0.75rem;
  font-weight: 100;
}
.books__info__body__details-wrap__metadata-wrap {
  margin: 20px 0;
  font-size: 0.8125rem;
  color: #666;
  line-height: 1.25rem;
}
.books__info__body__details-wrap__metadata-wrap .font-bold {
  font-weight: 700;
}
.books__info__body__details-wrap__metadata-wrap__writer-info {
  display: flex;
  align-items: center;
}
.books__info__body__details-wrap__metadata-wrap__writer-info__painter::before {
  content: "";
  display: inline-block;
  width: 0.0625rem;
  height: 0.6875rem;
  background-color: #d1d5d9;
  margin: 0 6px;
}
.books__info__body__details-wrap__metadata-wrap__writer-info__painter::after {
  content: "";
  display: inline-block;
  width: 0.0625rem;
  height: 0.6875rem;
  background-color: #d1d5d9;
  margin: 0 6px;
}
.books__info__body__details-wrap__metadata-wrap__series-complete-wrap {
  display: flex;
  align-items: center;
}
.books__info__body__details-wrap__metadata-wrap__series-complete-wrap__book-count {
  letter-spacing: -0.3px;
}
.books__info__body__details-wrap__metadata-wrap__series-complete-wrap__book-count::after {
  content: "";
  display: inline-block;
  width: 0.0625rem;
  height: 0.6875rem;
  background-color: #d1d5d9;
  margin: 0 6px;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item {
  display: flex;
  align-items: center;
  padding: 6px 0;
  border-top: 1px solid #e6e8eb;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item:last-child {
  border-bottom: 1px solid #e6e8eb;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .notice-title {
  display: block;
  width: 40px;
  height: 18px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin-right: 16px;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .info-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #646c73;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.7px;
  padding: 4px 0;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .schedule-title {
  background: #e3edf7;
  color: #738097;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .benefits-title {
  background: #f1faeb;
  color: #5abf0d;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .event-title {
  background: #e3e0ee;
  color: #605baf;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .Wait-free-title {
  background: #ebf6ff;
  color: #1f8ce6;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .benefits-info a,
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .event-info {
  display: flex;
  flex-direction: column;
}
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .benefits-info a .info-text,
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .benefits-info a .info-event-more,
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .event-info .info-text,
.books__info__body__details-wrap__book-detail-notice-wrap .notice-item .event-info .info-event-more {
  color: #808991;
  margin-top: 8px;
  font-size: 12px;
}
.books__info__body__details-wrap__benefits-Period {
  position: relative;
  display: block;
  margin-top: 20px;
  text-align: right;
  color: #808991;
  font-size: 12px;
}
.books__info__body__details-wrap__benefits-Period::before {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #808991;
  position: relative;
  top: -2px;
  left: -1px;
}
.books__info__body__details-wrap .first-episode {
  width: 180px;
  font-size: 15px;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1em;
  transition: background 0.2s, color 0.2s;
  color: #fff;
  background: #1f8ce6;
  border: 1px solid #0077d9;
  font-size: 16px;
  padding: 16px 34px;
  margin-top: 20px;
}
.books__info__body__details-wrap .first-episode:hover {
  background: #0077d9;
}
.books__info__footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  padding: 16px 26px;
  border: solid 4px #f2f4f5;
  font-size: 12px;
  color: #666;
  letter-spacing: 1px;
}
.books__info__footer .info-title {
  display: inline-block;
  min-width: 70px;
  max-width: 70px;
  padding-right: 8px;
  font-weight: 700;
  color: #525a61;
}
.books__info__footer__metadata-info div, .books__info__footer__support-info div {
  margin: 4px 0;
}
.books__series {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 0 29px;
}
.books__series__buy-tab {
  position: relative;
  border-top: 2px solid #666;
}
.books__series__buy-tab__rental__title {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
}
.books__series__buy-tab__purchase__title {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
}
.books__series__buy-tab .tab-list > * {
  display: none;
}
.books__series__buy-tab .tab-list .tab-title {
  display: block;
  width: 50%;
  height: 3.1875rem;
  background: #f4f4f4;
  line-height: 51px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}
.books__series__buy-tab .tab-list .tab-title:hover {
  color: #1f8ce6;
}
.books__series__buy-tab .tab-list.active > * {
  display: block;
}
.books__series__buy-tab .tab-list.active .tab-title {
  background: #fff;
  border: none;
}
.books__series__buy-tab .tab-list.active .list-option {
  display: flex;
}
.books__series__buy-tab .tab-list .list-option {
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
  padding: 10px 20px 10px 10px;
  border-bottom: 1px dotted #bbb;
}
.books__series__buy-tab .tab-list .list-option__left {
  display: flex;
  align-items: center;
}
.books__series__buy-tab .tab-list .list-option__left .select-all {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #636c73;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  letter-spacing: -0.3px;
}
.books__series__buy-tab .tab-list .list-option__left .alignment {
  padding: 6px 12px;
  background: #fff;
  color: #63696e;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  font-size: 12px;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
}
.books__series__buy-tab .tab-list .list-option__left .alignment:hover {
  background: #f2f4f5;
}
.books__series__buy-tab .tab-list .list-option__right {
  font-size: 12px;
  font-weight: 700;
}
.books__series__buy-tab .tab-list .list-option__right .info_volume {
  color: #666;
}
.books__series__buy-tab .tab-list .list-option__right .info_price {
  color: #1f8ce6;
}
.books__series__buy-tab .tab-list .list-option__right .cart {
  padding: 6px 12px;
  background: #fff;
  color: #808991;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.books__series__buy-tab .tab-list .list-option__right .cart:hover {
  background: #f2f4f5;
}
.books__series__buy-tab .tab-list .list-option__right .rental {
  padding: 6px 12px;
  color: #fff;
  background: #1f8ce6;
  border: 1px solid #0077d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.books__series__buy-tab .tab-list .list-option__right .rental:hover {
  background: #0077d9;
}
.books__series__item__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  border-bottom: 1px solid #f2f4f5;
}
.books__series__item__wrap:hover {
  background: #eef1f1;
}
.books__series__item__wrap__left-position {
  display: flex;
  align-items: center;
}
.books__series__item__wrap__left-position__image {
  max-width: 2.5rem;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 12px;
}
.books__series__item__wrap__left-position__info-wrap__title-wrap {
  display: flex;
  align-items: center;
}
.books__series__item__wrap__left-position__info-wrap__title-wrap__badge {
  padding: 1px 3px;
  font-size: 9px;
  font-weight: 600;
  border-radius: 3px;
  color: #fff;
  background-color: #1f8ce6;
  margin-right: 5px;
}
.books__series__item__wrap__left-position__info-wrap__title-wrap__title {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.books__series__item__wrap__left-position__info-wrap__description-wrap {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 400;
}
.books__series__item__wrap__left-position__info-wrap__description-wrap__date::after {
  content: "";
  display: inline-block;
  width: 0.0625rem;
  height: 0.6875rem;
  background-color: #d1d5d9;
  margin: 0 6px;
}
.books__series__item__wrap__view-button {
  padding: 6px 12px;
  background: #fff;
  color: #808991;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.books__series__item__wrap__view-button:hover {
  background: #f2f4f5;
}
.books__series .view-all-button {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  padding: 0.8em;
  border-width: 2px;
  background-color: #fff;
  transition: background-color 0.3s;
  border: 2px solid #d1d5d9;
  border-radius: 4px;
  font-weight: 700;
  color: #808991;
}
.books__series .view-all-button .bx {
  font-size: 10px;
  margin-left: 2px;
}
.books__series .view-all-button:hover {
  background-color: #f2f4f5;
}
.books__keyword {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 50px 29px 0;
}
.books__keyword__list {
  display: flex;
  flex-wrap: wrap;
  transition: background-color 0.2s;
  margin-top: 15px;
}
.books__keyword__list__item button {
  white-space: nowrap;
  margin: 0 10px 15px 0;
  height: 30px;
  border-radius: 3px;
  padding: 0 10px;
  background: #f3f4f5;
  border: 0;
  font-weight: 700;
  color: #666;
}
.books__keyword__list__item button:hover {
  background: #c4e1f5;
}
.books__introduce {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 50px 29px 0;
}
.books__introduce__description {
  margin-top: 15px;
  font-size: 13px;
  color: #333;
}
.books__author {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 50px 29px 0;
}
.books__author__description {
  margin-top: 15px;
  font-size: 13px;
  color: #333;
  line-height: 1.8;
}
.books__author__representative-book {
  margin-top: 20px;
  border-top: 1px solid rgb(209, 204, 204);
}
.books__author__representative-book__title {
  margin-top: 20px;
  padding-left: 16px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.books__author__representative-book__list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.books__author__representative-book__list__item {
  display: block;
  margin: 15px 15px;
}
.books__review {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 50px 29px 0;
}
.books__review__review-wrap__score-wrap {
  display: flex;
}
.books__review__review-wrap__score-wrap__left {
  width: 7.5rem;
  padding: 44px 0 20px 0;
  text-align: center;
  margin-right: 10px;
  flex-shrink: 0;
}
.books__review__review-wrap__score-wrap__left__score {
  display: block;
  margin-top: 10px;
  font-size: 35px;
  color: #212529;
  font-weight: 700;
}
.books__review__review-wrap__score-wrap__left__score_graph {
  padding: 6px 0 10px 0;
}
.books__review__review-wrap__score-wrap__left__score_graph__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  color: #808991;
  font-size: 12px;
  font-weight: 700;
}
.books__review__review-wrap__score-wrap__left__score_graph__item .bx {
  font-size: 11px;
}
.books__review__review-wrap__score-wrap__left__score_graph__item .star-bar-wrap {
  display: inline-block;
  width: 4.5rem;
  height: 0.5rem;
  background: #e8edf3;
  margin-left: 6px;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.books__review__review-wrap__score-wrap__left__score_graph__item .star-bar-wrap__bar {
  display: block;
  width: 0;
  height: 8px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#9daab5), to(#718392));
  background: -webkit-linear-gradient(top, #9daab5, #718392);
  background: -ms-linear-gradient(top, #9daab5, #718392);
  background: -o-linear-gradient(top, #9daab5, #718392);
  background: #738096 linear-gradient(to bottom, #9daab5, #718392);
}
.books__review__review-wrap__score-wrap__right {
  flex-grow: 1;
  margin-top: 14px;
}
.books__review__review-wrap__score-wrap__right__starrate {
  position: relative;
  padding-bottom: 18px;
}
.books__review__review-wrap__score-wrap__right__starrate__title {
  display: block;
  height: 2.625rem;
  text-align: center;
  font-size: 18px;
  color: #999;
  font-weight: 700;
  padding-top: 10px;
  letter-spacing: -0.03em;
}
.books__review__review-wrap__score-wrap__right__starrate__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.books__review__review-wrap__score-wrap__right__starrate__stars__star {
  display: inline-block;
  width: 4rem;
  height: 3rem;
  margin-left: -10px;
  background: url("/assets/books/star.png") no-repeat;
  background-position: 50% 0%;
  background-size: 45px 90px;
  cursor: pointer;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form .review-textarea {
  max-width: 37.8125rem;
  min-width: 37.8125rem;
  border: 2px solid #d1d5d9;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 112px;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 15px;
  color: #a7b1bb;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form .review-textarea:focus {
  outline-color: #7d8e9e;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form .review-textarea:focus::placeholder {
  color: #d1d5d9;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .write-tip-button {
  letter-spacing: -0.6px;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
  color: #808991;
  background: #fff;
  border: 1px solid #d1d5d9;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  font-size: 12px;
  padding: 8px 18px;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .write-tip-button .bx {
  margin-right: 2px;
  font-size: 15px;
  transform: translate3d(0, 1.9px, 0);
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .write-tip-button:hover {
  background: #f2f4f5;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .submit-button {
  letter-spacing: -0.03em;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
  color: #fff;
  border: 1px solid #0077d9;
  box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
  font-size: 12px;
  padding: 8px 18px;
  background: #1f8ce6;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .submit-button.opacity {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .submit-button.opacity:hover {
  background: #1f8ce6;
}
.books__review__review-wrap__score-wrap__right__form-wrap__form__btn-wrap .submit-button:hover {
  background: #0077d9;
}
.books__review__review-wrap__list-wrap {
  margin-top: 40px;
}
.books__review__review-wrap__list-wrap__title {
  display: block;
  border-bottom: 2px solid #d1d5d9;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #636c73;
}
.books__review__review-wrap__list-wrap__list__item {
  display: flex;
  padding-top: 14px;
  padding-bottom: 5px;
  border-top: 1px solid #d1d5d9;
}
.books__review__review-wrap__list-wrap__list__item:first-child {
  border-top: 0px;
}
.books__review__review-wrap__list-wrap__list__item__review-info-wrap {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 7.1875rem;
  padding-top: 3px;
}
.books__review__review-wrap__list-wrap__list__item__review-info-wrap__star {
  display: block;
  margin-bottom: 10px;
}
.books__review__review-wrap__list-wrap__list__item__review-info-wrap__reviewer {
  font-size: 12px;
  font-weight: 700;
  color: #212529;
}
.books__review__review-wrap__list-wrap__list__item__review-info-wrap__date {
  margin-top: 7px;
  padding-bottom: 4px;
  color: #808991;
  font-size: 12px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__content {
  font-size: 13px;
  color: #212529;
  width: 100%;
  white-space: pre-wrap;
  padding-bottom: 10px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__btn-wrap {
  align-self: flex-end;
  transition: background-color 0.2s, color 0.2s;
  font-weight: 700;
  font-size: 11px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__btn-wrap .bx {
  margin-right: 2px;
  font-size: 11px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__btn-wrap__comment-btn {
  margin-right: 3px;
  padding: 6px 14px;
  color: #808991;
  background: #fff;
  border: 1px solid #d1d5d9;
  border-radius: 4px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__btn-wrap__comment-btn:hover {
  background: #f2f4f5;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__btn-wrap__like-btn {
  border-radius: 4px;
  color: #808991;
  background: #fff;
  border: 1px solid #d1d5d9;
  padding: 6px 14px;
}
.books__review__review-wrap__list-wrap__list__item__content-wrap__btn-wrap__like-btn:hover {
  background: #f2f4f5;
}
.books__similar {
  max-width: 49.5625rem;
  margin: 0 auto;
  padding: 50px 29px 0;
}
.books__similar__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.books__similar__list__item {
  display: block;
  margin: 15px 15px;
}
.books .star-bg {
  position: relative;
  width: 4.6875rem;
  height: 0.9375rem;
  display: inline-block;
  background: url("/assets/books/emptyStar.svg") center center no-repeat;
  background-size: 100% 100%;
  margin-top: 3px;
}
.books .star-bg__stars {
  position: relative;
  width: 4.6875rem;
  display: block;
  overflow: hidden;
  width: 0%;
  height: 0.9375rem;
}
.books .star-bg__stars::after {
  content: "";
  display: block;
  background: url("/assets/books/stars.svg") center center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.6875rem;
  height: 0.9375rem;
}
.books .middle-title {
  display: block;
  font-size: 20px;
  color: #59667a;
  font-weight: 700;
  letter-spacing: -0.6px;
  padding-bottom: 10px;
  border-bottom: 2px solid #7d8e9e;
}
.books input[type=checkbox] {
  display: none;
}
.books .checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #d1d5d9;
  border-radius: 2px;
  transition: background-color 0.2s, border-color 0.2s;
  margin-top: 2px;
  margin-right: 8px;
}
.books input[type=checkbox]:checked + .checkbox {
  border-color: #0077d9;
  background: #1f8ce6;
}
.books input[type=checkbox]:checked + .checkbox::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 0.375rem;
  height: 0.125rem;
  background-color: #fff;
  transform: rotate(45deg);
}
.books input[type=checkbox]:checked + .checkbox::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  display: block;
  width: 0.75rem;
  height: 0.125rem;
  background-color: #fff;
  transform: rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
