@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
* {
  font-family: apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

.sr-only {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  font-size: 16px;
  overflow-y: visible;
}

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
}

body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: inherit;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

address,
em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}

.container {
  min-width: 320px;
}

.viewer {
  height: 2000px;
  color: #999;
}
.viewer__header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #262626;
  border-bottom: 1px solid #4d4d4d;
}
.viewer__header__inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  height: 50px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.viewer__header__inner .link-back {
  font-weight: 500;
  line-height: 50px;
}
.viewer__header__inner .bx-arrow-back {
  font-size: 22px;
  transform: translateY(4px);
}
.viewer__header__right button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  width: 26px;
  height: 26px;
  font-size: 26px;
  color: #999;
  margin-left: 10px;
}
.viewer__webtoon {
  background: #e3edf7;
  width: 740px;
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
.viewer__footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #262626;
  border-top: 1px solid #4d4d4d;
  font-size: 13px;
}
.viewer__footer__top__inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  height: 37px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.viewer__footer__top__right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 18px;
}
.viewer__footer__top__right button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #999;
}
.viewer__footer__top__right button i {
  font-size: 22px;
  width: 18px;
}
.viewer__footer__top__right button:nth-child(2) i {
  transform: rotate(180deg);
}
.viewer__footer__bottom {
  width: 100%;
  background: #000;
  border-top: 1px solid #4d4d4d;
}
.viewer__footer__bottom__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.viewer__footer__bottom__inner ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.viewer__footer__bottom__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 24px;
  color: #999;
}
.viewer__footer__bottom__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}
.viewer__footer__bottom__title {
  font-size: 11px;
  margin-top: 3px;
}
.viewer__footer__bottom__comment {
  position: absolute;
  top: -3px;
  right: -20px;
  background: #d1d5d9;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 9px;
  color: #000;
  font-weight: 300;
  letter-spacing: -0.5px;
  padding: 2px 4px;
}

/*# sourceMappingURL=style.css.map */
