// 기본 스타일 -------------------------------------------------------------------- /
// 루트 요소의 기본 글자 크기 및 가로 스크바 제거 ----------------------------------------------- /
html {
  font-size: $rootUnit;
  overflow-y: visible;
}

// 기본 박스 사이징 설정 -------------------------------------------------------------- /
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// 탭 하이라이트 색상 설정 ------------------------------------------------------------- /
body * {
  $highlightColor: #ffffc8;

  -webkit-tap-highlight-color: rgba($highlightColor, 0.3);
}

// 기본 아웃라인 제거 (웹접근성 체크 포인트 - 기본 아웃라인 제거 후에는 반드시 커스텀 아웃라인 스타일 정의가 필요함) ------------------------------------------------------------------ /
// a, input, button, select, textarea{
//   outline: 0;
// }

// 본문 기본 폰트, 글자 크기, 굵기, 배경 색상 지정 --------------------------------------------- /
body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: inherit;
  background-color: $white;

  margin: 0;
}

// 제목 글자 크기 및 굵기 재지정 --------------------------------------------------------- /
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

// 목록 안쪽 여백 및 불릿 제거 ---------------------------------------------------------- /
ul,
ol {
  padding-left: 0;
  list-style: none;
}

// 이미지에 발생하는 갭 제거 ------------------------------------------------------------ /
img {
  vertical-align: middle;
  max-width: 100%;
}

// 링크 요소의 밑줄 및 글자 색상 재 정의 ---------------------------------------------------- /
a {
  color: inherit;
  text-decoration: none;
}

// 주소 및 강조 요소 스타일 재 정의 ------------------------------------------------------- /
address,
em {
  font-style: normal;
}

// fieldset 요소의 테두리 및 여백 제거 -------------------------------------------------- /
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

// legend 요소 숨김 콘텐츠 처리 ------------------------------------------------------- /
legend {
  @include a11yHidden;
}

// 버튼 마우스 스타일 설정 ------------------------------------------------------------- /
button {
  cursor: pointer;
}

.container {
  min-width: 320px;
}
