.my__left__menu {
  &__container {
    display: table-cell;
    vertical-align: top;
    width: 235px;
    padding-bottom: rem(320px);
  }

  &__title {
    @include fontSetup(700, rem(24px), $my-title);
  }
}

.my__nav__menu {
  width: 130px;
  margin-top: rem(9px);

  &__home {
    @include fontSetup(700, rem(15px), $my-secondary-title);
  }

  &__section {
    padding: rem(17px) 0 rem(19px);
    border-bottom: 2px solid $border-hr-gray2;

    &__title {
      @include fontSetup(700, rem(15px), $my-secondary-title);

      span {
        @include fontSetup(700, rem(16px), $my-font-icon);

        padding-right: rem(7px);
        vertical-align: -5%;
      }
    }

    &__list {
      padding: rem(1px) 0 0 rem(22px);
      list-style: none;
    }
  }
}

.my__left__icon {
  padding-top: rem(4px);
  margin-right: rem(7px);
  font-size: rem(16px);
  color: $my-font-icon;
}

.my__section__link {
  @include fontSetup(700, rem(15px), $font-gray2);

  display: block;
  padding-top: rem(14px);

  &:hover {
    color: $secondary-font;
  }

  &.active {
    color: $blue;
  }
}
