.my__ridicash {
  &__auto {
    &__desc {
      display: flex;
      padding-left: rem(32px);
      border: solid rem(4px) $border-gray2;
      margin-top: rem(14px);

      &__box1 {
        display: flex;
        width: 100%;
        padding: rem(26px) 0;

        img {
          width: rem(80px);
          height: rem(50px);
        }
      }

      &__box2 {
        @include flexbox(column);
        margin-left: rem(20px);

        span:nth-child(1) {
          @include fontSetup(700, rem(13px), $gray9, 1.33rem);
          margin-top: rem(10px);
        }

        span:nth-child(2) {
          margin-top: rem(3px);
        }
      }
    }

    &__header {
      padding: rem(30px) rem(80px) rem(20px) 0;

      &__desc {
        margin-top: rem(4px);
      }

      &__title {
        @include fontSetup(400, rem(26px), $my-title, 1.38rem);
        height: rem(35px);
      }
    }

    &__form {
      &__title {
        @include fontSetup(700, rem(16px), $my-secondary-title);
        margin: rem(10px) 0 rem(18px) 0;
      }
    }

    &__payment {
      padding: rem(30px) 0 rem(20px) 0;
      display: flex;

      &__title {
        @include fontSetup(700, rem(16px), $my-secondary-title);
      }

      input[type='radio'] {
        display: none;

        &:checked + label {
          color: $blue;
        }

        &:checked + label::before {
          content: '';
          position: absolute;
          left: rem(-25px);
          width: 18px;
          height: 18px;
          border: 1px solid $border-blue;
          border-radius: 50%;
          background: $primary-color;
        }

        &:checked + label::after {
          @include centerTranslateY();

          content: '';
          position: absolute;
          left: rem(-19px);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $white;
        }
      }

      label {
        position: relative;
        margin-left: rem(50px);

        &::before {
          content: '';
          position: absolute;
          left: 0px;
          width: 18px;
          height: 18px;
          border: 1px solid $gray2;
          border-radius: 50%;
          background: $white;
          transform: translateY(-1px);
        }
      }

      &__notice {
        padding: rem(20px) 0 rem(20px) rem(210px);
        border: 4px solid $border-gray2;
        margin-bottom: rem(20px);

        p:nth-child(1) {
          @include fontSetup(700, rem(15px), $font-gray7);
          margin-bottom: rem(4px);

          i {
            font-size: rem(20px);
            color: $blue;
          }

          span {
            color: $blue;
          }
        }

        p:nth-child(2) {
          @include fontSetup($size: rem(13px), $color: $font-gray7, $height: 1.5rem);
          text-indent: rem(22px);
        }
      }
    }
  }
}
