.header.main {
  @include mobile {
    background: $black;
  }

  .header-top {
    @include mobile {
      background: $black;
      border-bottom: 0;
    }

    &__container {
      @include mobile {
        height: 39px;
      }
    }

    &__category {
      @include mobile {
        width: 100%;
        justify-content: space-around;
        font-size: rem(13px);
      }

      &__item {
        &.dot {
          &::after {
            @include mobile {
              display: none;
            }
          }
        }
      }

      &__link {
        &:hover {
          @include mobile {
            color: $secondary-font;
          }
        }

        &.is-selected {
          @include mobile {
            color: $white;
          }
        }
      }
    }

    &__service {
      @include mobile {
        display: none;
      }
    }
  }

  .header-down {
    @include mobile {
      border-radius: 16px 16px 0 0;
      padding: rem(10px) 0;
    }

    &__nav {
      @include mobile {
        flex-direction: column;
      }

      &__title {
        @include mobile {
          width: 171px;
        }
      }

      &__link {
        display: flex;

        @include mobile {
          @include flexbox;
        }
      }

      &__ridi {
        height: 20px;

        @include mobile {
          height: 42px;
          padding: rem(13px) rem(5px) rem(14px) rem(16px);
        }
      }

      &__webtoon {
        height: 20px;
        margin-left: rem(5px);

        @include mobile {
          height: 42px;
          padding: rem(13px) 0 rem(14px) 0;
        }
      }
    }

    &__form {
      &__search {
        &__container {
          &.is-focus {
            @include mobile {
              width: 95%;
            }
          }
        }
      }

      @include mobile {
        padding: rem(9px) rem(16px) rem(5px);
        width: 100%;
      }

      &__container {
        @include mobile {
          width: 100%;
        }
      }

      &__icon {
        @include mobile {
          font-size: rem(20px);
        }
      }

      // Input Focus Div
    }

    &__list {
      @include mobile {
        display: none;
      }
    }

    &__login {
      @include mobile {
        display: block;
        position: absolute;
        font-size: rem(12px);
        top: 16px;
        right: 22px;
      }
    }
  }

  &__form {
    &__search {
      &__container {
        &.is-focus {
          @include mobile {
            width: 95%;
          }
        }
      }
    }

    @include mobile {
      padding: rem(9px) rem(16px) rem(5px);
      width: 100%;
    }

    &__container {
      @include mobile {
        width: 100%;
      }
    }

    &__icon {
      @include mobile {
        font-size: rem(20px);
      }
    }

    // Input Focus Div
  }

  &__list {
    @include mobile {
      display: none;
    }
  }

  &__login {
    @include mobile {
      display: block;
      position: absolute;
      font-size: rem(12px);
      top: 16px;
      right: 22px;
    }
  }
}

.header.sub {
  .header-top {
    @include mobile {
      display: none;
    }
  }

  .header-down {
    @include mobile {
      padding: 9px 0 6px 0;
    }

    &__nav {
      &__title {
        margin-right: auto;

        .header-down__nav__link {
          .header-down__nav__ridi {
            @include mobile {
              width: auto;
              height: 42px;
              padding: rem(13px) rem(5px) rem(14px) rem(16px);
            }
          }
          .header-down__nav__webtoon {
            @include mobile {
              display: none;
            }
          }
        }
      }

      &__ridi {
        height: 20px;
      }

      &__webtoon {
        display: none;
      }
    }

    &__form {
      display: none;
    }

    &__list {
      @include mobile {
        display: none;
      }
    }
  }
}
