.login {
  width: 100%;
  min-height: 100vh;
  background: $bg-blue;
  letter-spacing: -0.4px;

  &__header {
    height: 40px;
    border-bottom: 1px solid $border-gray3;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 38px;
    color: $blue;
  }

  .link-mainpage {
    @include paddingX(14px);
  }

  .login-form {
    @include autoMargin;
    @include marginY(80px);
    @include paddingX(10px);
    @include paddingY(10px);

    width: 360px;

    .user-id,
    .user-pw {
      @include paddingX(14px);
      @include paddingY(18px);

      width: 340px;
      height: 48px;
      border: 1px solid $border-gray3;
      font-size: rem(14px);

      &::placeholder {
        color: $font-gray2;
      }

      &:hover {
        box-shadow: inset 0 0 1px 0.5px $border-gray4;
      }
    }

    .user-id {
      border-radius: 4px 4px 0 0;
    }

    .user-pw {
      border-top: 0;
    }

    button {
      @include removeBtnStyle;
      @include paddingY(16px);

      width: 100%;
      height: 50px;
      border-radius: 4px;
      background: $blue;
      color: $white;
      font-size: rem(15px);
      font-weight: 600;
      margin-top: rem(10px);
      box-shadow: 0 2px 4px 0 rgb(31 140 230 / 30%);
      border: 1px solid $border-blue;
    }

    .signin-btn {
      color: $font-gray2;
      background: $white;
      box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
      border: 1px solid $gray2;
    }
  }

  &__info {
    @include flexbox($justify: space-between, $items: center);

    height: 45px;
    background: $bg-lightblue;
    border-radius: 0 0 4px 4px;
    border: 1px solid $border-gray3;
    border-top: 0;
    padding: rem(13px) rem(8px) rem(16px) rem(13px);
    font-size: rem(12px);
    color: $font-skyblue;

    [type='checkbox'] {
      display: none;

      &:checked + label .save-box::before {
        content: '';
        position: absolute;
        top: rem(3px);
        right: rem(2px);
        width: rem(10px);
        height: rem(5px);
        transform: rotate(-45deg);
        border-style: solid;
        border-color: $blue;
        border-width: 0px 0px rem(2px) rem(2px);
      }
    }

    label {
      cursor: pointer;

      &:hover {
        color: $blue;
      }

      .save-box {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: $white;
        border: 1px solid $border-gray3;
        border-radius: 2px;
        box-shadow: inset 0 1px 2px 0 rgb(115 128 150 / 20%);
        transform: translateY(3px);
        margin-right: 3px;
      }
    }

    &__right {
      transform: translateY(2px);

      span {
        padding: 0 6px;
        cursor: pointer;

        &:hover {
          color: $blue;
        }
      }
    }

    .search-id {
      position: relative;
      margin-right: -4px;

      &::after {
        @include pos;

        content: '';
        top: 0;
        right: 0;
        width: 1px;
        height: 12px;
        background-color: $border-gray3;
        transform: translateY(1px);
      }
    }
  }
}
