.my__container {
  @include fontSetup;

  width: 100%;

  .active {
    color: $blue;
  }

  &__contents {
    @include flexbox;
    @include autoMargin;
    @include paddingX(24px);

    width: 1000px;
    margin-top: rem(33px);
  }
}

.my__left__menu {
  &__container {
    display: table-cell;
    vertical-align: top;
    width: 235px;
    padding-bottom: rem(320px);
  }

  &__title {
    @include fontSetup(700, rem(24px), $my-title);
  }
}

.my__nav__menu {
  width: 130px;
  margin-top: rem(9px);

  &__home {
    @include fontSetup(700, rem(15px), $my-secondary-title);
  }

  &__section {
    padding: rem(17px) 0 rem(19px);
    border-bottom: 2px solid $border-hr-gray2;

    &__title {
      @include fontSetup(700, rem(15px), $my-secondary-title);

      span {
        @include fontSetup(700, rem(16px), $my-font-icon);

        padding-right: rem(7px);
        vertical-align: -5%;
      }
    }

    &__list {
      padding: rem(1px) 0 0 rem(22px);
      list-style: none;
    }
  }
}

.my__left__icon {
  padding-top: rem(4px);
  margin-right: rem(7px);
  font-size: rem(16px);
  color: $my-font-icon;
}

.my__section__link {
  @include fontSetup(700, rem(15px), $font-gray2);

  display: block;
  padding-top: rem(14px);

  &:hover {
    color: $secondary-font;
  }

  &.active {
    color: $blue;
  }
}

.my__myridi {
  &__header {
    @include flexbox;

    width: 100%;
    max-width: 717px;
    border: 2px solid $black;
    table-layout: fixed;
  }

  &__recents {
    margin-top: rem(40px);
    max-width: 717px;
    overflow: hidden;
  }
}

.my__account__info {
  @include flexbox($direction: column, $justify: space-between);

  margin: rem(1px);
  flex-shrink: 0;
  max-width: 150px;
  padding: rem(24px) rem(20px) rem(20px);
  background: $bg-blue;
  box-sizing: content-box;

  &__container {
    min-height: 85px;
    padding-bottom: rem(20px);
  }

  &__id {
    @include fontSetup(700, rem(20px), $black, 1.2rem);

    word-break: break-all;
  }

  &__email {
    @include fontSetup(500, $color: $font-gray2, $height: 1.5rem, $spacing: -0.01rem);

    word-break: break-all;
    margin-top: rem(5px);
  }
}

.my__btn__logout {
  @include fontSetup(700, rem(13px), $border-gray4, 1.2rem);

  display: block;
  width: 64px;
  text-align: center;
  padding: rem(7px) 0;
  border: 2px solid $border-btn-gray1;
  border-radius: 3px;

  &:hover {
    background: $bg-btn-gray;
    border-color: $border-btn-gray2;
  }
}

.my__asset {
  &__info {
    padding: rem(27px) 0;
  }

  &__table {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__cell {
    display: table-cell;
    text-align: center;
    vertical-align: top;
  }
}

.my__info {
  &__container {
    position: relative;
    text-align: center;
  }

  &__icon {
    font-size: rem(30px);
  }

  &__amount {
    @include fontSetup(600, rem(16px), $my-asset-amount, rem(19px), -0.02rem);
    @include paddingX(10px);

    margin-top: rem(7px);
  }

  &__link {
    @include pos;

    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    left: 0;
    top: 0;
  }
}

.my__text {
  @include fontSetup(700, rem(15px), $black, rem(18px));

  display: block;
  margin-top: rem(10px);
}

.my__amount {
  @include fontSetup(400, rem(28px), $my-asset-amount, rem(33px), -0.01rem);

  font-family: 'Roboto';
  vertical-align: -8%;
  padding-right: rem(2px);
}

.my__extra__info {
  @include flexbox(row, center);
  @include fontSetup(600, rem(13px), $my-asset-link, rem(16px), -0.02rem);

  @include paddingX(10px);

  position: relative;
  left: 5px;
  margin-top: rem(17px);
}

.my__checkout__link {
  @include flexbox($items: center);
  @include fontSetup(600, rem(13px), $my-asset-link, rem(16px), -0.02rem);
}

.my__icon-arrow__right::before {
  @include pos;

  display: inline-block;
  font-size: rem(6px);
  top: calc(50% - 4px);
}

.my__point {
  margin-left: rem(4px);
  font-weight: 400;
  color: $black;
}

.my__coupon__btn {
  @include removeBtnStyle;
  @include flexbox($items: center);
  @include fontSetup(600, rem(13px), $my-asset-link, rem(16px), -0.02rem);

  padding-right: rem(14px);
}

.my__border__line {
  display: block;
  width: calc(100% - 60px);
  border: none;
  border-top: 1px solid $border-hr-gray1;
  margin: rem(28px) auto rem(29px);
}

.my__recents {
  &__container {
    position: relative;

    &::before {
      @include pos;

      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: $border-hr-gray2;
      left: 0;
      top: 50%;
      margin-top: rem(-3px);
      z-index: 1;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      clear: both;
    }
  }

  &__title {
    @include fontSetup(700, rem(18px), $black);

    float: left;
    position: relative;
    background: #fff;
    padding: rem(5px) rem(14px) rem(6px) 0;
    margin: 0;
    z-index: 2;
  }
}

.my__more__btn {
  @include removeBtnStyle;
  @include fontSetup(700, rem(13px), $white);

  position: relative;
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: rem(7px) rem(15px) rem(7px) rem(7px);
  background: $btn-black;
  border-radius: 2px;
  border: 1px solid $btn-black;

  &__wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    float: right;
    background: #fff;
    padding-left: rem(14px);
    z-index: 2;
  }
}

// 책 존재
.my__recents__books {
  margin-top: rem(20px);
  display: flex;
  gap: 40px;
  overflow: hidden;
}

// 책 노존재
.my__recents__empty {
  @include paddingY(90px);

  margin-top: rem(20px);
  border: 4px solid $border-gray2;

  &__desc {
    @include fontSetup(400, rem(13px), $border-gray4, 1.5rem, -0.03em);

    text-align: center;
  }
}

.my__book__thumbnail__wrapper {
  @include autoMargin;

  position: relative;
  display: block;
  text-align: left;
  height: 167px;
  width: 110px;
}

.my__book__thumbnail {
  border: 1px solid $gray0;
}

.my__thumbnail__btn {
  @include pos;

  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
  box-sizing: border-box;
}

.my__book__metadata__wrapper {
  @include autoMargin;

  text-align: left;
  display: block;
  margin-top: rem(3px);
  width: 110px;
}

.my__meta__title {
  margin-top: rem(3px);
}

.my__title__link {
  @include fontSetup(700, rem(13px), $my-font-recent, 1.4rem);
  @include ellipsisLine;

  display: block;
  max-height: 2.7em;
}

.my__author {
  @include ellipsisLine;
  @include fontSetup($height: 1.2rem);

  max-height: 3.1em;
}

// 리디캐시
.my__ridicash {
  &__section {
    width: 720px;
    padding: 0 0 rem(80px) 0;
  }

  &__title {
    @include fontSetup(700, rem(21px), $my-font-recent, 1rem, -0.03rem);
    width: 100%;
    text-align: left;
  }

  &__tab {
    list-style: none;
    border-bottom: rem(2px) solid $gray2;
    margin-top: rem(20px);

    &list {
      display: inline-block;
      margin-right: rem(13px);
      color: $secondary-font;
      font-size: rem(12px);

      a {
        @include fontSetup(700, rem(15px), $font-gray2, 1rem, -0.03rem);

        display: block;
        position: relative;
        min-width: rem(25px);
        padding: rem(10px) 0;
        text-align: center;

        &:hover {
          color: $font-gray7;

          &::after {
            height: rem(3px);
            background: $font-gray7;
          }
        }

        &.active {
          color: $my-secondary-title;

          &::after {
            height: rem(3px);
            background: $blue;
          }
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0;
          background: $gray2;
          left: 0;
          bottom: rem(-2px);
        }
      }
    }
  }

  &__header {
    padding: rem(42px) 0 rem(30px) 0;
    background: url('/assets/mypage/ridicash@2x.png') right top no-repeat;
    background-size: 269px 177px;
    max-width: 740px;

    &__title {
      @include fontSetup(400, rem(26px), $my-title, rem(36px));
    }

    &__desc {
      @include fontSetup(400, rem(13px), $font-gray2, rem(21px));

      margin-top: rem(15px);
    }

    &__btn {
      @include fontSetup(700, rem(12px), $font-gray2, 1rem);

      position: relative;
      border-radius: rem(4px);
      display: inline-block;
      text-align: center;
      vertical-align: baseline;
      border: rem(1px) solid $gray2;
      box-shadow: 0 rem(1px) rem(1px) 0rgba (209, 213, 217, 0.3);
      margin-top: rem(14px);
      padding: rem(8px) rem(20px) rem(8px) rem(12px);
      height: rem(32px);

      &:hover {
        background-color: $border-gray2;
      }

      i {
        color: $blue;
      }
    }
  }

  &__auto {
    &__desc {
      display: flex;
      padding-left: rem(32px);
      border: solid rem(4px) $border-gray2;
      margin-top: rem(14px);

      &__box1 {
        display: flex;
        width: 100%;
        padding: rem(26px) 0;

        img {
          width: rem(80px);
          height: rem(50px);
        }
      }

      &__box2 {
        @include flexbox(column);
        margin-left: rem(20px);

        span:nth-child(1) {
          @include fontSetup(700, rem(13px), $gray9, 1.33rem);
          margin-top: rem(10px);
        }

        span:nth-child(2) {
          margin-top: rem(3px);
        }
      }
    }

    &__header {
      padding: rem(30px) rem(80px) rem(20px) 0;

      &__desc {
        margin-top: rem(4px);
      }

      &__title {
        @include fontSetup(400, rem(26px), $my-title, 1.38rem);
        height: rem(35px);
      }
    }

    &__form {
      &__title {
        @include fontSetup(700, rem(16px), $my-secondary-title);
        margin: rem(10px) 0 rem(18px) 0;
      }
    }

    &__payment {
      padding: rem(30px) 0 rem(20px) 0;
      display: flex;

      &__title {
        @include fontSetup(700, rem(16px), $my-secondary-title);
      }

      input[type='radio'] {
        display: none;

        &:checked + label {
          color: $blue;
        }

        &:checked + label::before {
          content: '';
          position: absolute;
          left: rem(-25px);
          width: 18px;
          height: 18px;
          border: 1px solid $border-blue;
          border-radius: 50%;
          background: $primary-color;
        }

        &:checked + label::after {
          @include centerTranslateY(-65%);

          content: '';
          position: absolute;
          left: rem(-19px);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $white;
        }
      }

      label {
        position: relative;
        margin-left: rem(50px);

        &::before {
          content: '';
          position: absolute;
          left: 0px;
          width: 18px;
          height: 18px;
          border: 1px solid $gray2;
          border-radius: 50%;
          background: $white;
          transform: translateY(-1px);
        }
      }

      &__notice {
        padding: rem(20px) 0 rem(20px) rem(210px);
        border: 4px solid $border-gray2;
        margin-bottom: rem(20px);

        p:nth-child(1) {
          @include fontSetup(700, rem(15px), $font-gray7);
          margin-bottom: rem(4px);

          i {
            font-size: rem(20px);
            color: $blue;
          }

          span {
            color: $blue;
          }
        }

        p:nth-child(2) {
          @include fontSetup($size: rem(13px), $color: $font-gray7, $height: 1.5rem);
          text-indent: rem(22px);
        }
      }
    }
  }

  &__form {
    width: 640px;
  }

  &__amount {
    @include fontSetup(700, rem(16px), $my-secondary-title);

    margin-top: rem(40px);

    &__won {
      @include fontSetup(700, rem(20px), $blue);

      padding-left: rem(3px);
    }

    &__num {
      @include fontSetup(700, rem(24px), $blue, rem(17px));

      vertical-align: top;
    }
  }

  &__select {
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;

    &__column {
      @include paddingY(10px);

      border-top: 1px solid $gray2;

      &:first-child {
        border-top: 0;
      }

      hr {
        border: 0;
        height: 0.5px;
        background-color: $border-gray4;
      }
    }

    &__head {
      @include paddingY(12px);
      @include flexbox;

      text-align: right;
      font-size: rem(14px);
      font-weight: 600;

      span {
        flex-grow: 1;

        &:nth-child(3) {
          flex-grow: 1.2;
          margin-right: rem(15px);
        }
      }

      &.my__auto {
        span:nth-child(2) {
          position: relative;

          i {
            position: absolute;
            font-size: rem(30px);
            color: $ridi-yellow2;
            top: rem(-6px);

            &::after {
              content: 'x2';
              position: absolute;
              @include fontSetup($weight: 700, $size: rem(16px), $color: $white);
              top: 5px;
              left: 7px;
            }
          }
        }
      }
    }

    &__list {
      text-align: right;
      font-size: rem(15px);
      font-weight: 600;

      input[type='radio'] {
        display: none;

        &:checked + label,
        &:checked + label em {
          background: $bg-lightblue;
          border-radius: rem(25px);
          color: $blue;

          .my__auto__span {
            span {
              &:nth-child(1) {
                color: $ligt-blue;
              }

              &:nth-child(2) {
                color: $ligt-blue;
              }
            }
          }
        }

        &:checked + label::before {
          content: '';
          position: absolute;
          left: rem(15px);
          width: 18px;
          height: 18px;
          border: 1px solid $border-blue;
          border-radius: 50%;
          background: $primary-color;
        }

        &:checked + label::after {
          @include centerTranslateY(-65%);

          content: '';
          position: absolute;
          left: rem(21px);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $white;
        }
      }

      label {
        @include paddingY(10px);

        display: flex;
        position: relative;
        cursor: pointer;

        &:hover {
          background: $border-gray2;
          border-radius: rem(25px);
          transition: all 0.25s ease;
        }

        &::before {
          content: '';
          position: absolute;
          left: 15px;
          width: 18px;
          height: 18px;
          border: 1px solid $gray2;
          border-radius: 50%;
          background: $white;
          transform: translateY(-1px);
        }

        em {
          font-size: rem(13px);
          font-weight: 400;
          color: $font-gray2;
        }
      }

      span {
        &:nth-of-type(1) {
          width: 210px;
        }
        &:nth-of-type(2) {
          width: 165px;

          &.my__auto__span {
            position: relative;
            left: 30px;

            span {
              &:nth-child(1) {
                color: $gray2;
                text-decoration: line-through;
              }
              &:nth-child(2) {
                color: $gray2;
                position: relative;
                top: 2px;
              }
            }
          }
        }
        &:nth-of-type(3) {
          width: 247px;
          margin-right: rem(15px);
        }
      }

      span {
        &.my__auto {
          margin: 0;
        }
      }
    }
  }

  &__payment {
    &__ul {
      @include flexbox($wrap: wrap, $justify: space-between);

      padding: rem(12px) rem(16px) rem(20px);
      border: 1px solid #d6e3f0;
    }

    &__title {
      padding-bottom: rem(16px);
      font-size: rem(16px);
      font-weight: 700;
      color: $btn-black;
      line-height: 19px;
      margin-top: rem(20px);
    }

    &__list {
      @include flexbox;

      position: relative;
      width: 140px;
      height: 20px;
      margin: rem(5px);
      color: $font-gray7;
      font-size: rem(13px);
      font-weight: 700;

      input {
        appearance: none;
        width: 0;
        height: 0;

        &:checked + label::before {
          content: '';
          position: absolute;
          left: 0;
          width: 18px;
          height: 18px;
          border: 1px solid $border-blue;
          border-radius: 50%;
          background: $primary-color;
        }

        &:checked + label::after {
          @include centerTranslateY(-65%);

          content: '';
          position: absolute;
          left: 6px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $white;
        }
      }

      &__label {
        padding-left: rem(10px);

        &::before {
          content: '';
          position: absolute;
          left: 0px;
          width: 18px;
          height: 18px;
          border: 1px solid $gray2;
          border-radius: 50%;
          background: $white;
          transform: translateY(-1px);
        }

        .naver-pay {
          display: block;
          background: url('/assets/mypage/naverPay.svg') center center no-repeat;
          text-indent: -9999px;
          font-size: 0;
          width: 100px;
        }

        .kakao-pay {
          display: block;
          background: url('/assets/mypage/kakaoPay.svg') center center no-repeat;
          text-indent: -9999px;
          background-color: #ffeb00;
          background-size: 36px 11px;
          width: 48px;
          height: 20px;
          border-radius: 10px;
          margin-left: rem(20px);
        }

        .samsung-pay {
          background: url('/assets/mypage/samsungPay.svg') center center no-repeat;
          text-indent: -9999px;
          margin-left: rem(20px);
          width: 100px;
        }

        .payco {
          background: url('/assets/mypage/payco.svg') center center no-repeat;
          text-indent: -9999px;
          width: 100px;
        }

        span {
          display: block;
          text-indent: 15px;
        }
      }
    }
  }

  &__caution__list {
    position: relative;
    padding: rem(3px) rem(8px);
    color: $font-gray2;
    font-weight: 400;
    line-height: 1.1rem;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 4px;
      height: 4px;
      background: $font-gray2;
      margin-right: rem(4px);
    }
  }

  &__agreement {
    @include autoMargin;
    @include paddingY(20px);

    position: relative;
    width: 89%;
    text-align: center;
    font-size: rem(14px);
    color: $my-secondary-title;

    input {
      appearance: none;
      width: 0;
      height: 0;

      &:checked + label::before {
        border-color: $border-blue;
        background: $blue;
      }
    }

    label {
      width: 300px;

      &::before {
        content: '';
        position: absolute;
        background: $white;
        width: 18px;
        height: 18px;
        box-sizing: border-box;
        left: 80px;
        top: 50%;
        margin-top: rem(-9px);
        border-radius: 2px;
        border: 1px solid $gray2;
      }

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        text-indent: -444px;
        font-size: 0;
        overflow: hidden;
        background: url('/assets/mypage/check.svg') center center no-repeat;
        background-size: 100% 100%;
        width: 10px;
        height: 10px;
        left: 84px;
        top: 50%;
        margin-top: rem(-5px);
      }
    }
  }

  &__submit__btn__container {
    text-align: center;
    margin-bottom: rem(20px);

    i {
      margin-right: rem(5px);
    }

    button {
      @include removeBtnStyle;

      width: 240px;
      padding: rem(14px) rem(34px);
      background: $blue;
      border: 1px solid $border-blue;
      border-radius: 4px;
      font-weight: 700;
      color: #fff;
      font-size: rem(16px);
    }
  }

  &__empty {
    padding: rem(160px);
    text-align: center;
    @include fontSetup(400, rem(13px), $font-gray7, 1.5rem);

    span {
      margin: 0 auto;

      i {
        font-size: 80px;
        color: $bg-bar-gr1;
      }
    }
  }
}
