<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="books">
      <h2 class="sr-only">상세페이지</h2>

      <article class="books__info">
        <div class="books__info__body">
          <div class="books__info__body__thumbnail_wrap">
            <img src="" alt="" />
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
