<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>main</title>
  </head>
  <body>
    <div class="main">
      <div class="webtoon">
        <ul class="webtoon__nav">
          <li class="webtoon__nav__list is-selected">
            <a href="" class="webtoon__nav__item">웹툰</a>
          </li>
          <li class="webtoon__nav__list">
            <a href="" class="webtoon__nav__item">만화</a>
          </li>
        </ul>
        <ul class="webtoon__genre">
          <li class="webtoon__genre__list is-selected"><a href="" class="webtoon_genre__item">추천</a></li>
          <li class="webtoon__genre__list"><a href="" class="webtoon_genre__item">로맨스</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
