.toaster {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 50%;
  width: 400px;
  padding: rem(6px) rem(6px) rem(6px) rem(26px);
  color: #5abf0d;
  background-color: #191919;
  transform: translate3d(-50%, 0, 0);
  border-radius: 5px;
  animation: toast 4s ease forwards;
  opacity: 0;

  .toaster-text {
    width: 310px;
  }

  .bxs-check-circle {
    margin-top: rem(1px);
  }

  .bx-x {
    color: #666666;
    font-size: 30px;
    margin-top: rem(1px);
    cursor: pointer;
  }
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  20%,
  50%,
  80% {
    opacity: 1;
    transform: translate3d(-50%, 220%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
}