// 숨김 제목 및 콘텐츠 --------------------------------------------------------------- /
@mixin a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.sr-only {
  @include a11yHidden;
}
