// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;

// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primary-color: #1e9eff;

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$primary-font: #141414;
$secondary-font: #666666;
$gray0: #f0f0f0;
$gray2: #d1d5d9;
$gray4: #f3f4f5;
$gray5: #f5f5f5;
$gray6: #f6f6f6;
$red: #dc3232;
$blue: #1f8ce6;

// Fonts ( 폰트 색상 ) ------------------------------------------------------- /
$font-gray1: #787878;
$font-gray2: #808991;
$font-skyblue: #738097;
$font-purple: #605baf;

// Borders ( 보더 색상 ) --------------------------------------------------------- /
$border-gray1: #dddddd;
$border-gray2: #f2f4f5;

// Grayscale & Backgrounds ( 흑백 색상 ) ----------------------------------------- /
$bg-skyblue: #e3edf7;
$bg-purple: #e3e0ee;
$bg-blue: #ebf6ff;
$bg-charcoal: #7d8d9d;

// Accent ( 강조 색상 ) ---------------------------------------------------------- /
$accent-font: #fa722e;

// Button ( 버튼 색상 ) ------------------------------------------------------- /
$btn-black: #303538;
