// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;
$gray: #ccc;

// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primary-color: #1e9eff;

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$primary-font: #141414;
$my-title: #212529;
$my-secondary-title: #40474d;
$secondary-font: #666666;
$gray0: #f0f0f0;
$gray2: #d1d5d9;
$gray4: #f3f4f5;
$gray5: #f5f5f5;
$gray6: #f6f6f6;
$gray7: #e6e6e6;
$gray8: #787878;
$gray9: #525a61;
$red: #dc3232;
$blue: #1f8ce6;

// Fonts ( 폰트 색상 ) ------------------------------------------------------- /
$font-gray1: #787878;
$font-gray2: #808991;
$font-gray3: #a7b1bb;
$font-gray4: #a5a5a5;
$font-gray5: #646c73;
$font-gray6: #59667a;
$font-gray7: #636c73;
$font-skyblue: #738097;
$font-green: #5abf0d;
$font-purple: #605baf;
$my-font-icon: #738096;
$my-asset-amount: #4b9bf8;
$my-asset-link: #626d75;
$my-asset-arrow: #0077d9;
$my-font-recent: #333;

// Borders ( 보더 색상 ) --------------------------------------------------------- /
$border-gray1: #dddddd;
$border-gray2: #f2f4f5;
$border-gray3: #d6deeb;
$border-gray4: #9ea7ad;
$border-gray5: #f2f2f2;
$border-gray6: #e6e8eb;
$border-gray7: #636c73;
$border-gray8: #7d8e9e;
$border-blue: #0077d9;
$border-green: #01d760;
$border-btn-gray1: #d6deeb;
$border-btn-gray2: #b3c2d1;
$border-hr-gray1: #e5e8eb;
$border-hr-gray2: #e5e5e5;

// Grayscale & Backgrounds ( 흑백 색상 ) ----------------------------------------- /
$bg-skyblue: #e3edf7;
$bg-purple: #e3e0ee;
$bg-blue: #ebf6ff;
$bg-charcoal: #7d8d9d;
$bg-btn-gray: #dfeef8;
$bg-lightblue: #f7fbff;
$bg-lightblue2: #dbefff;
$bg-green: #f1faeb;
$bg-bar-gr0: #e8edf3;
$bg-bar-gr1: #9daab5;
$bg-bar-gr2: #718392;

// Accent ( 강조 색상 ) ---------------------------------------------------------- /
$accent-font: #fa722e;

// Button ( 버튼 색상 ) ------------------------------------------------------- /
$btn-black: #303538;

// Carousel Info ------------------------------------------------------- /
$up-btn: #20cdcc;
$time-btn: #1f9fff;
$free: #324254;

//  Event Carousel ------------------------------------------------------- /
$event-switch: #007af0;
$event-up: #987db3;
$event-early: #954cc3;
$event-cash: #be1d22;

//  Only RIDI ------------------------------------------------------- /
$ridi-red: #e05427;
$ridi-purple: #382e48;
$ridi-yellow: #f8b11a;
$ridi-yellow2: #EECF4E;
$ridi-turquoise: #71adb3;
